.color-default { background-color: #6a6af4; }
.beige-gris-galet { background-color: #aea397; }
.blue-cumulus { background-color: #417dc4; }
.blue-ecume { background-color: #465f9d; }
.brown-cafe-creme { background-color: #d1b781; }
.brown-caramel { background-color: #c08c65; }
.brown-opera { background-color: #bd987a; }
.green-archipel { background-color: #009099; }
.green-bourgeon { background-color: #68a532; }
.green-emeraude { background-color: #00a95f; }
.green-menthe { background-color: #009081; }
.green-tilleul-verveine { background-color: #b7a73f; }
.orange-terre-battue { background-color: #e4794a; }
.pink-macaron { background-color: #e18b76; }
.pink-tuile { background-color: #ce614a; }
.purple-glycine { background-color: #a558a0; }
.yellow-moutarde { background-color: #c3992a; }
.yellow-tournesol { background-color: #c8aa39; }