{{ attach_library('dsfr_core/preact_pictograms') }}

<div class="fr-container">
	<div id="dsfr-pictograms-container" 
		data-dsfr="{{ dsfr_path }}" 
		data-search="{{ slug }}" 
		data-language="{{ language }}">
	</div>
</div>