<div class="block block-system block-system-main-block">

	<div class="compact-link">
		<a href="https://www.drupal.org/project/dsfr_kickstart" target="_blank">DSFR Kickstart</a> 
		({{ 'official distribution page'|t }})
	</div>

	<div class="layout-row clearfix">
		<div class="layout-column layout-column--half">

			{% if dsfr.theme.check == true %}
			<div class="panel">
				<h3 class="panel__title">DSFR Theme</h3>
				<div class="panel__content">

					<dl class="admin-list--panel admin-list">

						<div class="admin-item">
							<dt class="admin-item__title">
								<a href="{{ dsfr.theme.link }}" title="" class="admin-item__link">{{ 'Theme parent settings'|t }}</a>
							</dt>
							<dd class="admin-item__description">{{ 'Configure parent theme options.'|t }}</dd>
						</div>

						<div class="admin-item">
							<dt class="admin-item__title">
								<a href="{{ dsfr.core.start }}" title="" class="admin-item__link">{{ 'Get started'|t }}</a>
							</dt>
							<dd class="admin-item__description">{{ 'Theme start page.'|t }}</dd>
						</div>
						
						{# <div class="admin-item">
							<dt class="admin-item__title">
								<a href="#" title="" class="admin-item__link">Creating a child theme</a>
							</dt>
							<dd class="admin-item__description">Pour un code personnalisé du thème DSFR pour Drupal.</dd>
						</div> #}

						<div class="admin-item">
							<dt class="admin-item__title">
								<a href="{{ dsfr.core.icons }}" title="" class="admin-item__link">Available icons</a>
							</dt>
							<dd class="admin-item__description">{{ 'See available icons by theme'|t }}.</dd>
						</div>
						
						<div class="admin-item">
							<dt class="admin-item__title">
								<a href="{{ dsfr.core.pictograms }}" title="" class="admin-item__link">Available pictograms</a>
							</dt>
							<dd class="admin-item__description">{{ 'See available pictograms by theme'|t }}.</dd>
						</div>

						{% if dsfr.twig.check == true %}
							<div class="admin-item">
								<dt class="admin-item__title">
									<a href="{{ dsfr.twig.links.demo }}" title="" class="admin-item__link">Twig components (module)</a>
								</dt>
								<dd class="admin-item__description">{{ 'See available twig component functions.'|t }}.</dd>
							</div>
						{% endif %}

					</dl>
				</div>
			</div>
			{% endif %}

			{# <div class="panel">
				<h3 class="panel__title">DSFR Advanced</h3>
				<div class="panel__content">

					<dl class="admin-list--panel admin-list">

						<div class="admin-item">
							<dt class="admin-item__title">
								<a href="{{ dsfr.advanced.fields.link }}" title="" class="admin-item__link">{{ 'Fields available'|t }}</a>
							</dt>
							<dd class="admin-item__description">{{ 'Fields available for DSFR'|t }}</dd>
						</div>
						
					</dl>
				</div>
			</div> #}

		</div>
		<div class="layout-column layout-column--half">

			{% if dsfr.paragraph.check == true %}

			<div class="panel">
				<h3 class="panel__title">DSFR Paragraph (module)</h3>
				<div class="panel__content">

					<dl class="admin-list--panel admin-list">

						<div class="admin-item">
							<dt class="admin-item__title">
								<a href="{{ dsfr.paragraph.links.node_type }}" class="admin-item__link">{{ 'Associate DSFR components to node types (content)'|t }}</a>
								<dd class="admin-item__description">{{ 'Select node types using the DSFR paragraphs component layout'|t }}</dd>
							</dt>
						</div>

					</dl>
				</div>
			</div>

			{% endif %}

			{% if dsfr.menu.check == true %}

			<div class="panel">
				<h3 class="panel__title">DSFR Menu (module)</h3>
				<div class="panel__content">

					<dl class="admin-list--panel admin-list">

						<div class="admin-item">
							<dt class="admin-item__title">
								<a href="{{ dsfr.menu.links.import }}" class="admin-item__link">{{ 'Import menus'|t }}</a>
							</dt>
							<dd class="admin-item__description">
								{{ 'Creation and management of menu templates that can automatically be placed in their respective regions (also works with DSFR child themes).'|t }}
								</dd>
						</div>

					</dl>
				</div>
			</div>

			{% endif %}

		</div>
	</div>

</div>